@section Bar {
    <section class="bg-primary p-3">
        <div class="container">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Anasayfa</a>
                    </li>
                    <li class="breadcrumb-item">
                        Yetkisiz Erişim
                    </li>
                </ol>
            </nav>
        </div>
    </section>
}
<section class="mt-3">
    <div class="container">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-danger">Yetkisiz Erişim Talbeinde Bulunuldu</h2>
                </div>
                <div class="card-body">
                    <p>buraya Erişim yetkiniz buulnmamaktadır.Admin rolü tanımlı başka bir hesap ile tekrar deneyiniz</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

